.headerWrapper {
  display: flex;
  position: fixed;
  z-index: 12;
  height: 6rem;
  top: 0;
  color: #fff;
  background-color: #3890b4;
  width: 100vw;
}
.headerContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.logoWrapper {
  display: flex;
  padding: 4px 0;
}
.logoWrapper a {
  display: flex;
}
.navSection {
  display: flex;
  font-size: 16px;
  font-weight: 900;
  line-height: 30px;
}
.ulStyle {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.ulStyle li {
  margin-left: 30px;
}
.navElements {
  color: #fff;
  padding: 2px 6px;
}
.navElements:hover {
  border-bottom: 1px solid #fff;
}
.contactElement {
  color: #293241;
}
.contactElement a {
  background-color: #fff;
  padding: 6px 16px;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.08));
}
.articles {
  /* border: 2px solid #fff; */
  /* border-radius: 50px; */
  color: #2450a0;
  padding: 2px 6px;
}
.about {
  /* border: 2px solid #fff; */
  /* background-color: #fff; */
  /* color: #3d6a8d; */
  color: #2450a0;
  /* border-radius: 50px; */
  padding: 2px 6px;
}
.about:hover,
.articles:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.menuButton {
  display: none;
  border: none;
  padding: 0;
  /* background-color: #fff; */
  background-color: #356488;
  cursor: pointer;
  /* color: #3d5a80; */
  /* color: #1d2278; */
  color: #fff;
  margin-left: auto;
  margin-right: 10px;
  /* color: #293241; */
}
.menuButton i {
  font-size: 30px;
}
:is(.menuButton, .headerModal) i:hover {
  color: #fff;
}
.headerModal button,
.closeHeaderModal button {
  display: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: 10px;
  color: #356488;
  background-color: #fff;
}
.headerModal {
  position: absolute;
  width: 14rem;
  z-index: 100;
  color: #356488;
  background-color: #fff;
  right: 0;
  top: 0.5rem;
  border: 1px solid #eaeaea;
  border-right: unset;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: translateX(0px);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}
.closeHeaderModal {
  position: absolute;
  width: 18rem;
  z-index: 100;
  right: 0;
  top: 0.5rem;
  transition-property: all;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  transform: translateX(300px);
}
.mobileMenu ul {
  list-style: none;
  font-size: 20px;
}
.mobileMenu li {
  margin-bottom: 2rem;
  border-bottom: 1px solid #eaeaea;
}
.modalBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.closeModalBackground {
  display: none;
}

@media (max-width: 600px) {
  /* .headerWrapper {
    padding: 0 0.5rem;
  } */
  .headerContainer {
    width: 100vw;
    padding: 0 0.5rem;
  }
  .menuButton,
  .headerModal button,
  .closeHeaderModal button {
    display: block;
  }
  .navSection {
    display: none;
  }
}
