.outerWrapper {
  width: 100%;
  padding: 0 4rem;
}
.chartContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
}
.chartTextWrapper,
.withDonutChartTextWrapper {
  width: 100%;
  max-width: 50rem;
  padding: 2rem;
}
.chartTextWrapper p,
.withDonutChartTextWrapper p {
  color: #6e6d7a;
}
/* .withDonutChartTextWrapper {
    width: 100%;
  max-width: 50rem;
  padding: 2rem;
} */
.chartDataWrapper,
.withDonutChartDataWrapper {
  width: 100%;
  max-width: 60rem;
  display: flex;
  justify-content: center;
}
.donutWrapper {
  width: 100%;
  max-width: 30rem;
}

@media (max-width: 1200px) {
  .chartContainer {
    flex-wrap: wrap;
  }
  .outerWrapper {
    padding: 0 1.5rem;
  }
}

@media (max-width: 768px) {
  .outerWrapper {
    padding: 0 0.5rem;
  }
}

@media (max-width: 580px) {
  .chartContainer {
    margin: 0;
  }
  .chartTextWrapper,
  .chartDataWrapper,
  .withDonutChartTextWrapper,
  .withDonutChartDataWrapper {
    padding: 0 0.5rem;
  }
  .withDonutChartTextWrapper {
    order: 1;
  }
  .withDonutChartDataWrapper {
    order: 2;
  }
}
