.outerContainer {
  width: 100%;
  padding: 0 4rem;
}
.mainWrapper {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  margin-top: 2rem;
}

.mainWrapper p {
  color: #6e6d7a;
}

.imageWrapper {
  width: 100%;
  max-width: 60rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%), 0 5px 26px 0 rgb(67 94 131 / 15%);
  padding: 10px;
  box-sizing: border-box;
}
.textWrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 50rem;
  padding: 2rem;
}
.leftImageWrapper {
  width: 100%;
  max-width: 60rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%), 0 5px 26px 0 rgb(67 94 131 / 15%);
  padding: 10px;
  box-sizing: border-box;
}
.leftTextWrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 50rem;
  padding: 2rem;
}
.ctaButton {
  padding: 10px 16px;
  float: right;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 30px;
  background-color: #37b2a4;
  border: none;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.08));
}
.ctaLinkButton {
  background-color: rgb(149, 54, 175);
  padding: 10px 16px;
  color: white;
  cursor: pointer;
  border: none;
  float: right;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 30px;
}
@media (max-width: 1024px) {
  .outerContainer {
    padding: 0 1.5rem;
  }
}

@media (max-width: 768px) {
  .imageWrapper,
  .outerContainer {
    padding: 0.5rem;
  }
  .textWrapper {
    padding: 0 0.5rem;
  }
}

@media (max-width: 580px) {
  .mainWrapper {
    flex-wrap: wrap;
  }
  .textWrapper {
    padding: 0;
  }
  .ctaButton {
    margin-bottom: 20px;
  }
  .leftTextWrapper {
    order: 1;
  }
  .leftImageWrapper {
    order: 2;
  }
}
