.mainWrapper {
  display: flex;
  margin: 0 auto;
  width: 800px;
  justify-content: space-between;
  margin-top: 2rem;
}

.mainWrapper p {
  color: #6e6d7a;
}

.imageWrapper {
  width: 400px;
}
.textWrapper {
  width: 300px;
}
