.mainWrapper {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  justify-content: space-between;
  margin-top: 2rem;
}

.mainWrapper p {
  color: #6e6d7a;
}

.imageWrapper {
  width: 600px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%), 0 5px 26px 0 rgb(67 94 131 / 15%);
  padding: 10px;
  box-sizing: border-box;
}
.textWrapper {
  box-sizing: border-box;
  width: 500px;
  padding-top: 2rem;
}
