.heroWrapper {
  color: #fff;
  width: 100vw;
}
.heroWrapper svg {
  width: 100%;
}
.heroContainer {
  /* background: linear-gradient(180deg, #3890b4 0%, #095b90 65%); */
  background-color: #3890b4;
  width: 100%;
  /* border-bottom-left-radius: 25%; */
  /* border-bottom-right-radius: 25%; */
}
.heroContent {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  width: 100%;
  padding-top: 3rem;
}
.heroTitles {
  max-width: 40rem;
  align-items: center;
  padding-top: 3rem;
}
.heroTitles h2 {
  font-weight: 400;
  letter-spacing: 0.1rem;
}
.title {
  margin: 0;
  line-height: 48px;
  font-size: 38px;
  font-weight: 700;
}
.description {
  line-height: 26px;
  font-size: 16px;
  font-weight: 600;
}

.heroImageContainer {
  /* padding-top: 1rem; */
  /* border: 10px solid white; */
  /* border-radius: 20px; */
  /* border-bottom-right-radius: 50px; */
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  /* overflow: hidden; */
  /* padding-right: 4rem; */
}
.blinkTeaserElement {
  animation: blinker 5s linear infinite;
  padding-top: 20px;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
@media (max-width: 700px) {
  /* .heroWrapper {
    -webkit-mask-size: 33.37% 183%;
    mask-size: 33.37% 140%;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
  } */
  .heroTitles {
    padding: 0;
  }
  .heroImageContainer {
    margin: 0 auto;
    padding: 0;
  }
  .heroContainer {
    width: 100vw;
    padding: 1rem 0.5rem;
  }
}
@media only screen and (max-width: 1003px) and (min-width: 700px) {
  .heroImageContainer {
    display: none;
  }
}
