.footerMainWrapper {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%), 0 5px 26px 0 rgb(67 94 131 / 15%);
  padding: 0 4rem;
  /* background-color: #095b90; */
  background-color: #3890b4;
}
.containerBox {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto 0 auto;
}
.footerLogoWrapper {
  display: flex;
  flex-grow: 1;
}
.logoWrapper {
  display: flex;
  height: 5.8rem;
  width: 100%;
  /* border: 1px solid red; */
}
.textWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.textWrapper ul {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
  max-width: 300px;
  justify-content: space-between;
}
.textWrapper h2 {
  text-decoration: underline;
  background-color: #37b2a4;
  padding: 5px 10px;
  border-radius: 20px;
}
.textWrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #37b2a4;
}
.faceIconWrapper {
  width: 42px;
  height: 42px;
}
.instaIconWrapper,
.linkedIconWrapper {
  width: 35px;
  height: 35px;
  color: white;
}
.instagramLink,
.linkedinLink {
  padding-bottom: 5px;
}
.textContent {
  display: flex;
}
.finalFooter {
  display: flex;
  justify-content: center;
  color: white;
  /* border-top: 1px solid #00538a; */
  /* border-top-width: 1px; */
  /* border-top-color: #00538a; */
  /* background-color: #3890b4; */
  /* background-color: #00538a; */
  padding: 1rem 0;
}
.finalFooter p {
  align-items: center;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  .logoWrapper {
    display: none;
  }
  .footerMainWrapper {
    padding: 0 0.5rem;
  }
  .mainWrapper {
    width: 100vw;
    padding: 0;
  }
}
