.outerWrapper {
  width: 100%;
  padding: 0 4rem;
}
.mainWrapper {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  margin-top: 2rem;
}

.imageWrapper {
  width: 100%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%), 0 5px 26px 0 rgb(67 94 131 / 15%);
  padding: 10px;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .outerWrapper {
    padding: 0 1.5rem;
  }
}

@media (max-width: 768px) {
  .imageWrapper,
  .outerWrapper {
    padding: 0.5rem;
  }
}

@media (max-width: 580px) {
  .mainWrapper {
    flex-wrap: wrap;
  }
}
