@font-face {
  font-family: 'Ebrima';
  src: url('/fonts/Ebrima.eot');
  src: local('Ebrima'), local('Ebrima'),
    url('/fonts/Ebrima.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Ebrima.woff2') format('woff2'),
    url('/fonts/Ebrima.woff') format('woff'),
    url('/fonts/Ebrima.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ebrima';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
